In [4]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()

    c.execute("""CREATE TABLE PersonInfo 
    (id INTEGER NOT NULL,
    name TEXT NOT NULL,
    age INTEGER,
    addr TEXT)""")

    c.execute("INSERT INTO PersonInfo VALUES (1, 'chanmin', 25, 'Seoul, Kangnam')")
    c.execute("INSERT INTO PersonInfo VALUES (2, 'mijung', 25, 'Sungnam, BunDang')")
    c.execute("INSERT INTO PersonInfo VALUES (3, 'Kayinn', 20, 'Pusan, Danhyun')")
    c.execute("INSERT INTO PersonInfo VALUES (4, 'SooHun', 18, 'Daejeon, NamChun')")
    c.execute("INSERT INTO PersonInfo VALUES (5, 'SooJin', 18, 'Daejeon, NamChun')")

    conn.commit()

OperationalError: table PersonInfo already exists