In [2]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()

    c.execute("SELECT age, count() FROM PersonInfo GROUP BY age HAVING count() >= 2")
    print("First Result:")
    for r in c:
        print(r)

    c.execute("SELECT age, count() FROM PersonInfo WHERE addr GLOB 'Sungnam*' GROUP BY age")
    print("\nSecond Result:")
    for r in c:
        print(r)

First Result:
(23, 2)
(25, 2)

Second Result:
(25, 2)