In [1]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()
    
    c.execute("SELECT * FROM PersonInfo")
    
    table = c.fetchall()
    for row in table:
        print(row)

OperationalError: no such table: PersonInfo

In [ ]:
import sqlite3 as db

with db.connect("test.db") as conn:
    conn.row_factory = db.Row
    
    c = conn.cursor()
    c.execute("SELECT * FROM PersonInfo")

    row = c.fetchone()

    print(type(row))

    column_name = row.keys()
    column_len = len(row)
    
    print("column: %s, "%column_name, end='')
    print("len: %d\n"%column_len)
    
    print(row['name'], row['id'], row['age'], row['addr'])

    for row in c.fetchall():
        print(row['name'], row['id'], row['age'], row['addr'])

In [2]:
import sqlite3 as db

with db.connect("test.db") as conn:
    conn.row_factory = db.Row 
    c = conn.cursor()
    
    c.execute("SELECT * FROM PersonInfo WHERE age >= 20")
    
    print("First Result:")
    for r in c.fetchall():
        print(tuple(r))
        
    c.execute("SELECT * FROM PersonInfo WHERE age < 30 and name='chanmin'")

    print("\nSecond Result:")
    for r in c.fetchall():
        print(tuple(r))

OperationalError: no such table: PersonInfo

In [3]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()
    
    c.execute("SELECT * FROM PersonInfo WHERE name='chanmin'")

    print("Befor Result:")
    for r in c.fetchall():
        print(r)

    c.execute("UPDATE PersonInfo SET age=45, id=10 WHERE name='chanmin'")
    conn.commit()
            
    c.execute("SELECT * FROM PersonInfo WHERE name='chanmin'")

    print("\nAfter Result:")
    for r in c.fetchall():
        print(r)

OperationalError: no such table: PersonInfo

In [4]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()

    c.execute("SELECT * FROM PersonInfo")

    print("Befor Result:")
    for r in c.fetchall():
        print(r)
    
    c.execute("DELETE FROM PersonInfo WHERE age >= 20 and age < 45")
    conn.commit()
    
    c.execute("SELECT * FROM PersonInfo")

    print("\nAfter Result:")
    for r in c.fetchall():
        print(r)

    c.execute("DELETE FROM PersonInfo")
    conn.commit()
    
    c.execute("SELECT * FROM PersonInfo")
    
    print("\nLast Result:")
    for r in c.fetchall():
        print(r)

OperationalError: no such table: PersonInfo

In [5]:
import sqlite3 as db

with db.connect("test.db") as conn:
    try:
        conn.execute("DROP TABLE PersonInfo")
        conn.commit()
        print("drop table...")
    except db.OperationalError:
        print("not drop table...")

    try:   
        conn.execute("""CREATE TABLE PersonInfo
                    (id INTEGER PRIMARY KEY,
                    name TEXT UNIQUE NOT NULL,
                    age INTEGER CHECK(age > 18),
                    addr TEXT)""")
        print("create table...")
    except db.OperationalError:
        print("not create table")

not drop table...
create table...