In [ ]:
import sqlite3 as db

with db.connect("test.db") as conn:
    c = conn.cursor()

    c.execute("SELECT name, age FROM PersonInfo WHERE age BETWEEN 21 AND 23")
    print("First Result:")
    for r in c:
        print(r)

    c.execute("SELECT name, age, addr FROM PersonInfo WHERE name IN ('sooji', 'mijung')")
    print("\nSecond Result:")
    for r in c:
        print(r)

    c.execute("SELECT name, age + 1, addr FROM PersonInfo WHERE addr GLOB 'Sungnam*'")
    print("\nLast Result:")
    for r in c:
        print(r)